*{
  box-sizing: border-box;
}

body {
  background: #f2f1f4;
  color: #19171c;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

h2{
  padding-left: 15px;
  font-size: 15px;
  line-height: 0.5;
}

p{
  padding-left: 15px;
  font-size: 12px;
  text-decoration: underline;
}

.container{
  overflow: auto;
  margin: auto;
  width: 80%;
}

.container .box{
  width: 33.33%;
  float: left;
  position: relative;
  padding: 10px;
}

.container .box img{
 width: 100%;
}

img{
  opacity: 1.0;
}

img:hover {
    opacity: 0.5;
}

.box-text{
  position: absolute;
  bottom:20px;
  background: white;
  width: 80%;
}

@media (max-width: 600px){
  .container .box{
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px){
  .container .box{
    width: 50%;
  }
}
